#comments {
    height: auto;
}

.comment {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: auto;
    margin-bottom: 5px;
    flex-wrap: wrap;
    border-bottom: 1px solid grey;
}

.comment_data {
    display: flex;
    justify-content: space-between;
    margin: 4px;
    flex-direction: column;
}

.comment_user {
    font-weight: bold;
    font-size: 14px;
    color: black;
    padding-top: 5px;
}

.comment_date {
    font-size: 10px;
    color: grey;
}

.comment_content {
    width: auto;
    margin-bottom: 5px;
    color: black;
    padding: 5px;
}

.comment .delete_icon {
    margin-left: auto;
}