#images {
    align-self: flex-start;
    height: auto;
    width: auto;
}

.image_title {
    font-family: Arial, sans-serif;
    font-size: 35px;
    color: black;
    font-weight: bold;
    text-align: left;
    margin-top: 10px;
}

.image_author {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #666666;
    text-align: left;
    margin-top: 5px;
}

#image {
    width: 100%;
    height: auto;
    object-fit: contain;
}